modules = ["nodejs-24"]

[deployment]
router = "application"
deploymentTarget = "autoscale"

[deployment.postBuild]
args = ["pnpm", "store", "prune"]
env = { "CI" = "true" }

[workflows]
runButton = "Project"

[agent]
stack = "PNPM_WORKSPACE"
expertMode = true

[postMerge]
path = "scripts/post-merge.sh"
timeoutMs = 20000

[[ports]]
localPort = 8080
externalPort = 8080

[[ports]]
localPort = 8081
externalPort = 80

[[ports]]
localPort = 23653
externalPort = 3000

[nix]
channel = "stable-25_05"

[userenv]

[userenv.shared]
FRONTEND_URL = "https://719f2bb9-3cb9-43cc-92c9-a39d13626785-00-11135q7buw7xk.janeway.replit.dev"
NFT_CONTRACT_ADDRESS = "0x4b420De2F07eC1DF45Db86d1ba6c45A973730042"
